@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,300;1,400&display=swap');



/* Start Global Rules  */
:root{   
    --main-color:#2196f3;
    --main-color-alt:#238de4;
    --main-transition: 0.3s;
    --main-padding-top:100px;
    --main--padding-bottom:100px;
    --section-background:#ececec ;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Lato';
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.main-title{
    text-transform:uppercase ;
    border: 2px solid #000;
    padding: 10px 20px;
    width: fit-content;
    position: relative;
    margin: 0 auto 80px ;
    z-index: 1;
    font-size: 30px;
    transition: var(--main-transition);
    font-weight: bold;
}
.main-title:hover{
    color: white;
    border:2px solid white ;
    transition-delay: 0.5s;
}
.main-title::before,.main-title::after{
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: var(--main-transition);
}
.main-title::before{
    left: -30px;
}
.main-title:hover::before{
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title::after{
    right: -30px;
}
.main-title:hover::after{
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
/*  Small Media  */
@media(min-width:768px) {
    .container{
        width: 750px;
    }
}

/* Medium Media */
@media(min-width:992px) {
    .container{
        width: 970px;
    }
}

/* Large Media */
@media screen and (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
/* End Global Rules  */
/* Start Header */
.header{
    background-color: white;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.header .logo{
    font-size: 26px;
    color: var(--main-color);
    font-weight: bold;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:767px){
    .header .logo{
        width: 100%;
        height: 50px;
        font-size: 24px;
    }
}
.header .main-nav{
    display: flex;
    
}
@media (max-width:767px){
    .header .main-nav{
       margin: auto;
    }
}

.header .main-nav > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    position: relative;
    color: black;
    font-style: italic;
    padding: 0 30px;
    overflow: hidden;
    transition:var(--main-transition);
}
@media (max-width:767px){
    .header .main-nav > li > a{
        padding: 10px;
        height: 30px;
        font-size: 14px;
    }
}
.header .main-nav > li > a::before{
    content: '';
    position: absolute;
    background-color: var(--main-color);
    width: 100%;
    height: 4px;
    top: 0;
    left: -100%;
    transition:var(--main-transition);

}
.header .main-nav > li > a:hover{
    color: var(--main-color);
    background-color: #fafafa;
}
.header .main-nav > li > a:hover::before{
    left: 0;
}
.header .main-nav > li:hover .mega-menu{
  top: calc(100% + 1px);
  z-index: 100;
  opacity: 1;
}
.header .mega-menu{
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
}

@media (max-width:767px){
    .header .mega-menu{
        flex-direction: column;
        gap: 0;
        padding: 5px;
        margin-right: auto;
        margin-left: auto;
    }
}
.header .mega-menu .image img{
    max-width: 100%;
}

.header .mega-menu .links{
  min-width: 200px;
  flex: 1;
}
.header .mega-menu .links li{
    position: relative;
}
.header .mega-menu .links li:not(:last-child){
    border-bottom: 1px solid #e9e6e6;
}
@media (max-width:767px){
    .header .mega-menu .links:first-of-type li:last-child{
        border-bottom: 1px solid #e9e6e6;
    }
}
.header .mega-menu .links li::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   background-color:var(--main-color);
   z-index: -1;
   transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before{
    width: 100%;
}
.header .mega-menu .links li:hover a{
    color: white;
}
.header .mega-menu .links li a{
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 16px;
  font-weight: bold;
}
.header .mega-menu .links li a svg{
    margin-right: 10px;
}
/* End Header */
/* Start Landing Page */
.landing{
  position: relative;
}
.landing::before{
    content: '';
    position: absolute;
    background-color: #ececec;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
    }
.landing .container{
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: center;
}
@media (max-width:991px){
    .landing .container{
        flex-direction: column;
        min-height: 500px;

    }
}
.landing .text{
    flex: 1;
}


@media (max-width:991px){
    .landing .text{
        margin-top: 40px;
        text-align: center;
        max-height: 80px;
    }
}
.landing .text h1{
    font-size: 40px;
    letter-spacing: -1px;
    margin-bottom: 20px;
}
@media (max-width:767px){
    .landing .text h1{
        font-size: 20px;
    }
   
}
.landing .text p{
    font-size: 19px;
    line-height: 1.7;
    color: #666;
    max-width: 457px;
}
@media (max-width:767px){
    .landing .text p{
        font-size: 12px;
        max-width: 300px;
    }
   
}
.landing .image img{
    position: relative;
    width: 600px;
    max-width: 100%;
    animation: up-and-down 5s linear infinite;

}
@media (max-width:991px){
    .landing .image img{
        width: 450px;
        margin-top: 100px;
    }
   
}
@media (max-width:767px){
    .landing .image img{
        width: 300px;
    }
   
}
.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}
.landing .go-down:hover{
    color: var(--main-color-alt);
}
.landing .go-down svg{
    animation: bouncing 1.5s  infinite;
}
/* End Landing Page */
/* Start Articles */
.articles{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main--padding-bottom);
    position: relative;
}
.articles .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 40px;
}
.articles .box{  
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border-radius: 6px;
    background-color: white;
    overflow: hidden;
    transition: transform var(--main-transition),box-shadow var(--main-transition);
}
.articles .box:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .box img{
    width: 100%;
    max-width: 100%;
}
.articles .box .content{
    padding: 20px;
}

.articles .box .content p{
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}
.articles .box .info{
    border-top:1px solid #e6e6e7 ;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles .box .info a{
    color: var(--main-color);
    font-weight: bold;
}
.articles .box .info svg{
    color: var(--main-color);
}
.articles .box:hover .info svg{
    animation: moving-arrow 0.6s linear infinite;
}
/* End Articles */
/* Start  Gallery */
.gallery{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main--padding-bottom);
    position: relative;
    background-color:var(--section-background);
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
    gap: 40px;
}
.gallery .box{
    padding: 15px;
    background-color: white;
    box-shadow:0 12px 20px 0 rgb(0 0 0 / 12%), 0 2px 4px 0 rgb(0 0 0 / 13%);  
}
.gallery  .box .image{
    position: relative;
    overflow: hidden;
}
.gallery  .box .image::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255,255,255,0.3);
    width: 0;
    height: 0;
    z-index: 2;
}
.gallery  .box .image:hover::before{
    animation: flashing 0.9s ;
}
.gallery  .box img{
    max-width: 100%;
}
.gallery  .box .image:hover img{
    transform: rotate(5deg) scale(1.1);
    transition: var(--main-transition);
}
/*  Start Features */
.features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main--padding-bottom);
    position: relative;
    background-color:white;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
    gap: 40px;
}
.features .box{
    text-align: center;
    border: 1px solid #ccc;
}
.features .box .img-holder{
    position: relative;
    overflow: hidden;
}
.features .box .img-holder::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.features .box .img-holder::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 170px 500px ;
    border-color:transparent transparent white transparent;
    transition: var(--main-transition);
}
.features .box:hover .img-holder::after{
    border-width: 170px 500px 170px 0px ;
}

.features .box .img-holder img{
    max-width: 100%;
}
.features .box h2{
    margin: auto;
    font-size: 40px;
    position: relative;
    width: fit-content;
}
.features .box h2::after{
  content: "";
  position: absolute;
  height: 5px;
  left:15px;
  bottom: -15px;
  width: calc(100% - 30px);
  background-color: var(--main-color);
}
.features .box p{
    margin: 30px 0;
    padding: 20px;
    font-size: 18px;
    line-height: 1.8;
    color: #777;
}
.features .box a{
    display: block;
    width: fit-content;
    padding: 10px 30px;
    margin: 0 auto 30px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid transparent ;
    border-radius: 6px;
    transition: var(--main-transition);
}
.features .quality .img-holder::before {
    background-color: rgb(244 64 54 / 60%);
}

.features .quality  h2::after{
    background-color:#f44036 ;
}
.features .quality a{
    color: #f44036 ;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .box:hover a{
    background-position: left;
    color: white;
}
.features .time .img-holder::before {
    background-color: rgb(0 150 136 / 60%);
}

.features .time  h2::after{
    background-color:#009688 ;
}
.features .time a{
    color: #009688 ;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .passion  .img-holder::before {
    background-color: rgb(3 169 244 / 60%);
}

.features .passion  h2::after{
    background-color:#03a9f4 ;
}
.features .passion a{
    color: #03a9f4 ;
    border-color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}


/*   End Features  */

/* End Gallery  */
 /* Start Animation  */
 @keyframes up-and-down {
    0%,100%{
        top: 0;
    }
    50%{
        top: -50px;
    }
 }
 @keyframes bouncing {
    0%,10%,20%,50%,80%,100%{
        transform: translateY(0);
    }
    40%,60%{
        transform: translateY(-15px);
    }
 }
 @keyframes left-move {
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        left: 0;
        border-radius: 0;
        width: 60%;
        height: 100%;
    }
 }
 @keyframes right-move  {
    50%{
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        right: 0;
        width: 60%;
        height: 100%;
        border-radius: 0;
    }
 }
 @keyframes moving-arrow {
    100%{
        transform: translateX(10px);
    }
 }
 @keyframes flashing {
    0%,40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
 }
 /* End Animation */
