@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,300;1,400&display=swap');:root{
    --main-color:#2196f3;
    --main-color-alt:#238de4;
    --main-transition: 0.3s;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Lato';
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*  Small Media  */
@media(min-width:768px) {
    .container{
        width: 750px;
    }
}

/* Medium Media */
@media(min-width:992px) {
    .container{
        width: 970px;
    }
}

/* Large Media */
@media screen and (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
/* End Global Rules  */
/* Start Header */
.header{
    background-color: white;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.header .logo{
    font-size: 26px;
    color: var(--main-color);
    font-weight: bold;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:767px){
    .header .logo{
        width: 100%;
        height: 50px;
        font-size: 24px;
    }
}
.header .main-nav{
    display: flex;
    
}
@media (max-width:767px){
    .header .main-nav{
       margin: auto;
    }
}

.header .main-nav > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    position: relative;
    color: black;
    font-style: italic;
    padding: 0 30px;
    overflow: hidden;
    transition:var(--main-transition);
}
@media (max-width:767px){
    .header .main-nav > li > a{
        padding: 10px;
        height: 30px;
        font-size: 14px;
    }
}
.header .main-nav > li > a::before{
    content: '';
    position: absolute;
    background-color: var(--main-color);
    width: 100%;
    height: 4px;
    top: 0;
    left: -100%;
    transition:var(--main-transition);

}
.header .main-nav > li > a:hover{
    color: var(--main-color);
    background-color: #fafafa;
}
.header .main-nav > li > a:hover::before{
    left: 0;
}
/* End Header */
/* Start Landing Page */

/* End Landing Page */
